@{
    ViewData["Title"] = "InsertTrainees";
}
@model TrainingSystem.Domain.Section
<h2>Insert Trainees to Section</h2>
<form asp-action="InsertTrainees">
    <div class="form-group">
        <label class="control-label">Section ID: @Model.ID</label>
        <input value="@Model.ID" type="hidden" />
    </div>
    <div class="form-group">
        <label class="control-label">Section Name: @Model.SectionField.SectionField</label>
    </div>
    <div class="form-group">
        <label class="control-label">Trainer Name: @Model.Trainer.Name</label>
    </div>
    <div class="form-group">
        <label class="control-label">Start Date: @Model.StartDate</label>
    </div>
    <div class="form-group">
        <label class="control-label">End Date: @Model.EndDate</label>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
        </div>
    </div>
    <table class="table mytable" id="mytable">
        <thead>
            <tr>
                <th>
                    Select
                </th>
                <th>
                    Name
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var trainees = ViewBag.Trainees;
                foreach (var trainee in trainees)
                {
                    <tr>
                        <td>
                            <input type="checkbox"
                               name="selectedTrainees"
                               value="@trainee.TraineeID"
                               @(Html.Raw(trainee.Assigned ? "checked=\"checked\"" : "")) />
                        </td>
                        <td>
                            @trainee.Name
                        </td>
                        <td>
                            @if (@trainee.IsInOtherSection == true)
                            {
                                if (@trainee.Assigned == true)
                                {
                                    <p>Within this section</p>
                                }
                                else
                                {
                                    <p>Within another section</p>
                                }

                            }
                            else
                            {
                                <p>empty</p>
                            }
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back To Sections</a>
</div>